<nz-form-item>
  <div [formGroup]="formGroup">
    <nz-form-label [nzRequired]="itemBase.isRequired" [nzFor]="itemBase.id">{{ itemBase.name }}</nz-form-label>
    <nz-form-control>
      <ng-container [ngSwitch]="itemBase.editType">
        <!-- 根据表单编辑形式选择编辑形式 -->
        <ng-container *ngSwitchCase="EditType.TEXT">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <ng-container *ngIf="itemBase.type;else numberTemplate">
              <input nz-input [disabled]="itemBase.isReadOnly" [formControlName]="itemBase.id">
            </ng-container>
            <ng-template #numberTemplate>
              <nz-input-number [formControlName]="itemBase.id" [nzMin]="itemBase.min" [nzMax]="itemBase.max">
              </nz-input-number>
            </ng-template>
          </nz-input-group>
          <ng-template #suffixTemplate>{{ itemBase.suffix }}</ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="EditType.SELECT">
          <nz-select style="width: 100%" [formControlName]="itemBase.id" nzAllowClear>
            <nz-option *ngFor="let codeId of itemBase.itemId;let i=index" [nzValue]="codeId"
              [nzLabel]="itemBase.itemName[i]">
            </nz-option>
          </nz-select>
        </ng-container>

        <ng-container *ngSwitchCase="EditType.RADIO">
          <nz-radio-group [formControlName]="itemBase.id">
            <label *ngFor="let codeId of itemBase.itemId; let i=index" nz-radio
              [nzValue]="codeId">{{ itemBase.itemName[i] }}</label>
          </nz-radio-group>
        </ng-container>

        <ng-container *ngSwitchCase="EditType.CHECKBOX">
          <nz-checkbox-group [formControlName]="itemBase.id" (ngModelChange)="log(checkOptionsOne)"></nz-checkbox-group>
        </ng-container>

        <ng-container *ngSwitchCase="'search'">
          <nz-input-group [nzSuffix]="item['suffixIcon']" [nzPrefix]="item['prefixIcon']" nzSearch>
            <input nz-input type="text" [readOnly]="item.readOnly==='1'?true:false" [formControlName]="item.colName">
          </nz-input-group>
        </ng-container>

        <ng-container *ngSwitchCase="'checkbox'">
          <nz-select style="width: 100%" nzMode="multiple" [formControlName]="item.colName">
            <nz-option *ngFor="let codeItem of item.code" [nzLabel]="codeItem.text" [nzValue]="codeItem.value">
            </nz-option>
          </nz-select>
        </ng-container>

        <ng-container *ngSwitchCase="'textarea'">
          <textarea rows="4" nz-input [formControlName]="item.colName"></textarea>
        </ng-container>

        <ng-container *ngSwitchCase="'date'">
          <nz-date-picker [formControlName]="item.colName"></nz-date-picker>
        </ng-container>

      </ng-container>

      <!-- 错误提示信息 -->
      <nz-form-explain *ngIf="form.get(item.colName).dirty && form.get(item.colName).errors">
        <ng-container *ngIf="form.get(item.colName).errors['required']">{{'请输入'+ item.colHeader}}</ng-container>
        <ng-container *ngIf="form.get(item.colName).errors['message']">{{form.get(item.colName).errors['message']}}
        </ng-container>
      </nz-form-explain>

    </nz-form-control>


  </div>
</nz-form-item>
